@import './../../../../scss/_global.scss';

section.main-page{
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
  &.introduction .main-background{
    background-color: $white-smoke;
  }
  &.book-cover .main-background{
    background-color: $blue-bell;
  }
  &.website .main-background{
    background-color: $levander-frog;
  }
  &.conceptual-identity .main-background{
    background-color: $glacier-gray;
  }
  &.mini-game .main-background{
    background-color: $blue-velvet;
  }
  &.logo .main-background{
    background-color: $seoul-white;
  }
  &.footer .main-background{
    background-color: $white-smoke;
  }
  &.footer .foreground-slider{
    //overflow: auto;
  }
  &.mini-game header.main-header .header-center-container, 
  &.mini-game header.main-header .header-center-container nav.menu > ul > li a, &.mini-game header.main-header .header-center-container .name{
    color: $white-smoke;
  }
  &.mini-game header.main-header .header-center-container .name{
    background-image: url('/assets/images/logo-light.svg');
  }
  &.introduction .foreground-slider, 
  &.introduction header.main-header{
    cursor: url('/assets/images/cursor/default-glaciergray.svg') 14.5 14.5, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/default-glaciergray.svg') 1x, url('/assets/images/cursor/default-glaciergray.svg') 2x) 14.5 14.5, pointer;
  }
  &.introduction header.main-header .header-center-container nav.menu > ul > li a, &.introduction header.main-header .header-center-container .name{
    cursor: url('/assets/images/cursor/hover-glaciergray.svg') 16 16, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/hover-glaciergray.svg') 1x, url('/assets/images/cursor/hover-glaciergray.svg') 2x) 16 16, pointer;
  }
  &.book-cover .foreground-slider, 
  &.book-cover header.main-header{
    cursor: url('/assets/images/cursor/default-levanderfrog.svg') 14.5 14.5, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/default-levanderfrog.svg') 1x, url('/assets/images/cursor/default-levanderfrog.svg') 2x) 14.5 14.5, pointer;
  }
  &.book-cover .foreground-slider .main-foreground div.center-container .title, 
  &.book-cover header.main-header .header-center-container nav.menu > ul > li a, &.book-cover header.main-header .header-center-container .name{
    cursor: url('/assets/images/cursor/hover-levanderfrog.svg') 16 16, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/hover-levanderfrog.svg') 1x, url('/assets/images/cursor/hover-levanderfrog.svg') 2x) 16 16, pointer;
  }
  &.website .foreground-slider, 
  &.website header.main-header{
    cursor: url('/assets/images/cursor/default-bluebell.svg') 14.5 14.5, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/default-bluebell.svg') 1x, url('/assets/images/cursor/default-bluebell.svg') 2x) 14.5 14.5, pointer;
  }
  &.website .foreground-slider .main-foreground div.center-container .title, 
  &.website header.main-header .header-center-container nav.menu > ul > li a, &.website header.main-header .header-center-container .name{
    cursor: url('/assets/images/cursor/hover-bluebell.svg') 16 16, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/hover-bluebell.svg') 1x, url('/assets/images/cursor/hover-bluebell.svg') 2x) 16 16, pointer;
  }
  &.conceptual-identity .foreground-slider, 
  &.conceptual-identity header.main-header{
    cursor: url('/assets/images/cursor/default-seoulwhite.svg') 14.5 14.5, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/default-seoulwhite.svg') 1x, url('/assets/images/cursor/default-seoulwhite.svg') 2x) 14.5 14.5, pointer;
  }
  &.conceptual-identity .foreground-slider .main-foreground div.center-container .title, 
  &.conceptual-identity header.main-header .header-center-container nav.menu > ul > li a, &.conceptual-identity header.main-header .header-center-container .name{
    cursor: url('/assets/images/cursor/hover-seoulwhite.svg') 16 16, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/hover-seoulwhite.svg') 1x, url('/assets/images/cursor/hover-seoulwhite.svg') 2x) 16 16, pointer;
  }
  &.mini-game .foreground-slider, 
  &.mini-game header.main-header{
    cursor: url('/assets/images/cursor/default-glaciergray.svg') 14.5 14.5, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/default-glaciergray.svg') 1x, url('/assets/images/cursor/default-glaciergray.svg') 2x) 14.5 14.5, pointer;
  }
  &.mini-game .foreground-slider .main-foreground div.center-container .title, 
  &.mini-game header.main-header .header-center-container nav.menu > ul > li a, &.mini-game header.main-header .header-center-container .name{
    cursor: url('/assets/images/cursor/hover-glaciergray.svg') 16 16, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/hover-glaciergray.svg') 1x, url('/assets/images/cursor/hover-glaciergray.svg') 2x) 16 16, pointer;
  }
  &.logo .foreground-slider, 
  &.logo header.main-header{
    cursor: url('/assets/images/cursor/default-bluevelvet.svg') 14.5 14.5, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/default-bluevelvet.svg') 1x, url('/assets/images/cursor/default-bluevelvet.svg') 2x) 14.5 14.5, pointer;
  }
  &.logo .foreground-slider .main-foreground div.center-container .title, 
  &.logo header.main-header .header-center-container nav.menu > ul > li a, &.logo header.main-header .header-center-container .name{
    cursor: url('/assets/images/cursor/hover-bluevelvet.svg') 16 16, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/hover-bluevelvet.svg') 1x, url('/assets/images/cursor/hover-bluevelvet.svg') 2x) 16 16, pointer;
  }
  &.footer .foreground-slider, 
  &.footer header.main-header{
    cursor: url('/assets/images/cursor/default-glaciergray.svg') 14.5 14.5, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/default-glaciergray.svg') 1x, url('/assets/images/cursor/default-glaciergray.svg') 2x) 14.5 14.5, pointer;
  }
  &.footer header.main-header .header-center-container nav.menu > ul > li a, &.footer header.main-header .header-center-container .name{
    cursor: url('/assets/images/cursor/hover-glaciergray.svg') 16 16, auto;
    cursor: -webkit-image-set(url('/assets/images/cursor/hover-glaciergray.svg') 1x, url('/assets/images/cursor/hover-glaciergray.svg') 2x) 16 16, pointer;
  }
  .main-background{
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow: hidden;
    color: $white-smoke;
    transition: background-color 1000ms ease-out;
  }
  .foreground-slider{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    div.main-foreground{
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: absolute;
      display: block;
      overflow: hidden;
      transform: translate(0, -100%);
      div.introduction-center-container{
        width: rem($center-box-width);
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: 100%;
        .introduce{
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -100%);
          font-family: 'Epilogue', sans-serif;
          letter-spacing: rem(.15);
          font-weight: bold;
          font-size: rem(120);
          width: rem(980);
          line-height: rem(123);
        }
      }
      div.center-container{
        color: $white-smoke;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        font-weight: bold;
        transform: translate(-50%, -50%);
        width: rem($center-box-width);
        @include browseropt(user-select, none);
        .title{
          font-family: 'Epilogue', sans-serif;
          font-size: rem(170);
          line-height: rem(174);
          text-transform: uppercase;
          letter-spacing: rem(.15);
          text-decoration: none;
          color: $white-smoke;
          .image{
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            top: 50%;
            left: 50%;
            height: rem(700);
            transform: translate(-50%, -50%);
            transition: opacity 500ms ease-out;
            opacity: 0;
            border-radius: rem(233);
          }
          &:hover{
            .image{
              opacity: .95;
            }
          }
        }
        .type{
          position: absolute;
          top: calc(50% + #{rem(400)});
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: rem(30);
          letter-spacing: rem(.15);
        }
      }
      &.active{
        position: relative;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translate(0, 0);
      }
    }
    footer[mrklFooter].main-foreground{
      display: block;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: relative;
      box-sizing: border-box;
      padding-top: calc(100vh - #{rem(650)});
    }
  }
}