$white-smoke: #f3f3f3;
$dark-gray: #3d3d3d;
$blue-bell: #92AFCF;
$levander-frog: #CCC3D4;
$glacier-gray: #BFC0C2;
$seoul-white: #D9D7D8;
$blue-velvet: #0F2755;

$outter-center-box-width: 1920;
$center-box-width: 1600;
